@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Source Sans Pro', sans-serif;
}

body{
	background: #ccc;
	height: 100%;
	margin: 0;
	width: 100%;
	overflow-x: hidden;

}

/*.con {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;	
}*/

section{
	scroll-snap-align: center ;
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #FFF;
	height: 70px;


}

.name{
	color: #000;
	font-size: 28px;
	font-weight: bold;
	margin-left: 40px;
	margin-top: 10px;
	font-family: 'Source Sans Pro', sans-serif;
}
strong{
	color: #D5A43B;
	font-size: 28px;
	font-family: 'Source Sans Pro', sans-serif;
}


.nav-links{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Source Sans Pro', sans-serif;
	
	
}

.nav-links li{
	list-style: none;
	padding: 25px;
	margin-top: 10px;
	font-family: 'Source Sans Pro', sans-serif;
}

.nav-links li a{
	cursor: pointer;
	text-transform: uppercase;
	color: #000;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	text-decoration: none;
}

.fa-search {
	font-size: 14px;
	
}

.nav-links .active:hover {
	color: #D5A43B;
}

.img-wrapper{
	min-height: 22vh;
}

.img-wrapper img{
	width: 100%;
	height: 100%;
	background-blend-mode: darken;
	filter: brightness(50%);
	position: relative;
	margin-bottom: 0;
	
}

.img-wrapper div{
	color: #FFF;
	font-weight: bold;
	font-size: 32px;
	position: absolute;
	top: 200px;
	left: 150px;
	font-family: 'Source Sans Pro', sans-serif;

}
.horizontalLine{
	height: 80px;
	border-left: 2px solid #D5A43B;
	transform: rotate(90deg);
	transform-origin: 0 0;
	margin: 15px;
	position: relative;
	margin-left: 80px;
	margin-top: 92px;
}

.img-wrapper p {
	color: #FFF;
	font-size: 14px;
	text-align: left;
	width: 28%;
	font-weight: lighter;
	position: absolute;
	left: 150px;
	top: 320px;
	font-family: 'Source Sans Pro', sans-serif;
}

.img-wrapper span{
	border: 1px solid #FFF;
	border-radius: 5px;
	padding: 5px 10px;
	position: absolute;
	left: 150px;
	top: 380px;
	color: #FFF;
	cursor: pointer;
	box-shadow: 2px 2px 5px 0 rgb(255, 255, 255, .8);
}

.img-wrapper span:hover{
	color: rgb(255, 255, 255, .6);


}

.mission{
	width: 70%;
	height: 8%;
	background-color: #D5A43B;
	color: #FFF;
	text-align: center;
	position: absolute;
	left: 200px;
	top: 550px;
	padding: 15px;
	text-transform: uppercase;

}

.Wrapper {
	min-height: 70vh;
	margin: 0;
	padding: 0;
	scroll-snap-align: center;
	background-color: white;
}

.wholeWrapper{
	display: flex;
	justify-content: center;
	margin: 10px 50px;
	
	

}
.imageWrapper{
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: flex-start;

}

.wholeWrapper img{
	position: relative;
	margin-top: 60px;
	width: 316px;
	height: 198px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 0px;
	

	

}


.wholeWrapper h2{
	display: flex;
	position: relative;
	top: 0px;
	left: 12px;
	text-align: center;
	width: 70%;
	margin: 5px;
	text-overflow: clip;
	
}

.wholeWrapper p{
	text-align: left;
	width: 70%;
	position: relative;
	top: 0px;
	left: 5px;
	margin: 10px;
}

.wholeWrapper span{
	text-align: left;
	position: relative;
	top: 0px;
	left: 14px;
	color: #D5A43B;
	cursor: pointer;
}

.carousel {
	min-height: 40vh;
	
}

.carousel img{
	width: 100%;
	height: 100%;
	filter: brightness(30%);
	position: relative;
}

.carousel .horizonLine{
	border-left: 2px solid #D5A43B;
	height: 90px;
	transform: rotate(90deg);
	transform-origin: 0 0;
	margin: 15px;
	position: absolute;
	left: 550px;
	top: 50px;

}
.carousel p{
	text-align: center;
	font-size: 24px;
	color: #fff;
	position: relative;
	margin-top: -320px;
	text-transform: uppercase;


}

.carousel .horizLine{
	border-left: 2px solid #D5A43B;
	height: 90px;
	transform: rotate(90deg);
	transform-origin: 0 0;
	margin: 15px;
	position: absolute;
	left: 860px;
	top: 50px;
	 
}

.slider{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px;
}

.slider img{
	width: 300px;
	height: 180px;
	filter: brightness(80%);
	margin: 4px;
	padding: 0px;
	outline: none;
	border-radius: 4px;
	border: 2px solid #fff;
	border-style: inset; 
	box-sizing: border-box;
}

.prev-btn{
	color: #FCC139;
	position: absolute;
	font-size: 25px;
	top: 300px;
	left: 650px;
	cursor: pointer;

}

.fa-caret-left{
	background-color: #000;
	height: 25px;
	padding: 0 .2px;
	width: 40px;


}

.next-btn{
	color: #FCC139;
	position: absolute;
	font-size: 25px;
	left: 680px;
	top: 300px;
	cursor: pointer;

}
.fa-caret-right{
	background-color: #000;
	height: 25px;
	padding: 0 .2px;
	width: 40px;

}

.blog {
	min-height: 100vh;
	margin: 0;
	background-color: #FFF;
}

 .HLine{
	border-left: 2px solid #D5A43B;
	height: 90px;
	transform: rotate(90deg);
	transform-origin: 0 0;
	margin: 15px;
	position: absolute;
	left: 582px;
	top: 1430px;

}
.blog p{
	text-align: center;
	font-weight: bold;
	color: #000;
	line-height: 100px;
	font-size: 22px;
	padding: 40px;
	margin: 30px;
	text-transform: uppercase;
}

 .HrLine{
	border-left: 2px solid #D5A43B;
	height: 90px;
	transform: rotate(90deg);
	transform-origin: 0 0;
	margin: 15px;
	position: absolute;
	left: 820px;
	top: 1430px;

}

.blog-post{
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 0 70px;
	margin: 0;
	background: #ddd;
	position: relative;
	top: -70px;
}

.imgblog img{
	margin: 10px;
	padding: 0;
	width: 300px;
	height: 220px;
}

.blog-img img{
	display: block;
	width: 300px;
	height: 100px;
	padding: 0;
	margin: 15px;
}
.cons{
	margin: 10px;
	width: 300px;
	height: 220px;
	padding: 10px;
	background-color: rgba(255, 244, 255, 1);
}

.cons h2 {
	text-align: center;
	color: #000;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 22px;
}

.cons p{
	padding: 10px;
	color: #000;
	position: relative;
	margin-left: 20px;
	margin-right: 10px;
	line-height: 30px;
	font-size: 18px;
	font-weight: normal; 
	
}

.HlLine{
	border-left: 2px solid #D5A43B;
	height: 90px;
	transform: rotate(90deg);
	transform-origin: 0 0;
	margin: 15px;
	position: absolute;
	left: 570px;
	top: 1810px;

}

.service p {
	text-align: center;
	font-weight: bold;
	color: #000;
	margin-top: -30px;
	line-height: 10px;
	font-size: 22px;
	text-transform: uppercase;
}

.HlrLine{
	border-left: 2px solid #D5A43B;
	height: 90px;
	transform: rotate(90deg);
	transform-origin: 0 0;
	margin: 15px;
	position: absolute;
	left: 840px;
	top: 1810px;

}

.servic{
	margin: 0;
	padding: -10px;
}

.servic img{
	margin: 15px;
	width: 250px;
	height: 100px;
    
}
.servic p {
	color: #000;
	border: 1px solid #000;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 5px;
	position: relative;
	left: 180px;
	top: -35px;
	padding: 10px 25px;
	line-height: 20px;
	/*text-decoration: underline;*/

}

.prevbtn{
	color: #FCC139;
	position: absolute;
	font-size: 25px;
	top: 2040px;
	left: 650px;
	cursor: pointer;

}

.nextbtn{
	color: #FCC139;
	position: absolute;
	font-size: 25px;
	top: 2040px;
	left: 680px;
	cursor: pointer;

}

.testim{
	height: 60vh;
}

.testim img{
	width: 100%;
	height: 100%;
	filter: brightness(50%);
	position: relative;
}

.testim h2{
	text-transform: uppercase;
	text-align: center;
	position: absolute;
	top: 2120px;
	left: 580px;
	color: #FFF;
}

.statement{
	position: relative;
	top: -300px;
	left: 350px;
	color: #FFF;
	text-align: center;
	width: 50%;
}

.ceo img{
	width: 90px;
	height: 90px;
	filter: brightness(100%);
	position: absolute;
	top: 2240px;
	left: 640px;
	border: 2px solid #FCC139;
	border-radius: 50%;
}
.myname{
	position: absolute;
	top: 2340px;
	left: 640px;
	color: #FCC139;
	text-align: center;
}

.role{
	position: absolute;
	top: 2360px;
	left: 625px;
	color: #fff;
	text-align: center;
}

.navigation-dots{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 15px 0;
	height: 30px;
}
.single-dot{
	position: relative;
	top: -110px;
	left: 10px;
	background: #333;
	height: 16px;
	width: 16px;
	border: 2px solid #000;
	border-radius: 50%;
	margin: 0 8px;
	cursor: pointer;
	transition: 400ms;
}

.single-dot.active{
	background: #FCC139;
}

.HoLine{
	border-left: 2px solid #D5A43B;
	height: 90px;
	transform: rotate(90deg);
	transform-origin: 0 0;
	margin: 15px;
	position: absolute;
	left: 570px;
	top: 2500px;

}

.partners{
	margin: 0;
	background-color: #fff;
	/*height: 150vh;*/

}
.partners p {
	text-align: center;
	font-weight: bold;
	color: #000;
	margin: 0px;
	padding: 25px;
	font-size: 22px;
	text-transform: uppercase;
}

.HorLine{
	border-left: 2px solid #D5A43B;
	height: 90px;
	transform: rotate(90deg);
	transform-origin: 0 0;
	margin: 15px;
	position: absolute;
	left: 840px;
	top: 2500px;

}



.wholepartner{
	display: flex;
	justify-content: center;
	margin: 0 30px;
	align-items: center;
	
	

}
.imagepartner{
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: flex-start;
	margin-left: 40px;
	margin-top: -30px;

}

.wholepartner img{
	position: relative;
	margin-top: 60px;
	width: 316px;
	height: 198px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 0px;
}


.wholepartner h2{
	display: flex;
	position: relative;
	top: 0px;
	left: 12px;
	text-align: center;
	width: 70%;
	margin: 5px;
	text-overflow: clip;
	font-weight: normal;
	font-size: 20px;
	
}

.wholepartner p{
	text-align: left;
	width: 80%;
	position: relative;
	top: -30px;
	left: -20px;
	line-height: 30px;
	margin: 10px;
	font-weight: bold;
	font-size: 16px;
	text-transform: none;

}

.wholepartner span{
	text-align: left;
	position: relative;
	top: -55px;
	left: 14px;
	color: #D5A43B;
	cursor: pointer;
}

.pre-btn{
	color: #FCC139;
	position: absolute;
	font-size: 25px;
	top: 2980px;
	left: 650px;
	cursor: pointer;

}

.pos-btn{
	color: #FCC139;
	position: absolute;
	font-size: 25px;
	top: 2980px;
	left: 680px;
	cursor: pointer;

}

.Line{
	border-left: 2px solid #D5A43B;
	height: 90px;
	transform: rotate(90deg);
	transform-origin: 0 0;
	margin: 15px;
	position: absolute;
	left: 570px;
	top: 3150px;

}

.sponsor{
	/*background-color: #ccc;*/
	min-height: 70vh;
}
.sponsor p {
	text-align: center;
	font-weight: bold;
	color: #000;
	margin: 120px;
	font-size: 22px;
	text-transform: uppercase;
}

.Line1{
	border-left: 2px solid #D5A43B;
	height: 90px;
	transform: rotate(90deg);
	transform-origin: 0 0;
	margin: 15px;
	position: absolute;
	left: 840px;
	top: 3150px;
}

.sponsor-img{
	display: flex;
	align-items: center;
	justify-content: center;
	

}

.sponsor-img img{
	position: relative;
	margin-top: -600px;
	padding: 10px 25px;
}

.previous-btn{
	color: #FCC139;
	position: absolute;
	font-size: 25px;
	top: 3340px;
	left: 650px;
	cursor: pointer;

}

.nex-btn{
	color: #FCC139;
	position: absolute;
	font-size: 25px;
	top: 3340px;
	left: 680px;
	cursor: pointer;

}

.footer{
	
	background-color: #202E31;
	min-height: 100vh !important;
	margin: 0;
	/*padding-top: 10px;*/

}
.footer-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	color: #FCC139;
	position: relative;
	margin-top: 10px;


}

.sub-wrapper{
	padding: 50px 60px;
	

}

.sub-wrapper h3{
	font-size: 18px;
	position: relative;
	top: -40px;
	left: 30px;
}

.proj{
	position: relative;
	margin-top: 40px;

	left: 50px;
	font-size: 18px;
}

input[type= "text"] {
	border: none;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 1050px;
	top: 108px;
	padding: 5px 10px;

}

button{
	position: absolute;
	left: 1050px;
	top: 168px;
	border-radius: 5px;
	padding: 2px 8px;
}

	.wedo {
	font-size: 14px;
	text-align: center;
	position: absolute;
	top: 100px;
	left: 210px;
	margin: 10px 10px;
	color: #fff;
}

	.contact{
	font-size: 14px;
	text-align: center;
	position: absolute;
	top: 100px;
	left: 460px;
	margin: 10px 10px;
	color: #fff;
	}

	.proj-images img{
		position: relative;
		top: 10px;
		left: 10px;
		margin: 2px;
		border-radius: 5px;
	}

.copyright{
	color: #FCC139;
	position: absolute;
	top: 4250px;
	left: 580px;
	text-align: center;
}

/*#menu-bar, #menu{
	display: none;*/


/*.menu-bg, .change-bg{
display: none;
}*/


@media screen and (max-width: 400px) {

	body{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		
	


	}

	.menu-bg, #menu{
		top: 0;
		right: 0;
		margin-right: 0;
		position: fixed;
	}

	#menu-bar{
		z-index: 5;
	}

	.menu-bg {
		width: 0;
		height: 0;
		background: #fff;
		transition: all .3s ease; 
	}

	.change-bg {
		width: 100%;
		height: 50%;
		z-index: -1;
	}


	.img-wrapper img{

		z-index: -2;
		width: 100%;
		height: 100%;
}

	.fa-search{
		position: absolute;
		left: -100px;
		top: -120px;
		
	}
	.img-wrapper div{
		font-size: 16px;
		top: 70px;
		left: 20px;
	}

	.horizontalLine, .horizLine, .horizonLine, .HrLine, .HlLine {
		display: none;
	}

	.img-wrapper p{
		left: 20px;
		top: 120px;
		width: 60%;
		font-size: 12px; 
	}

	.img-wrapper span{
		left: 20px;
		top: 175px;
		font-size: 10px;
		padding: 0px 4px;
	}
	.HLine {
		left: 200px;
		top: 1523px;

		
	}

	.HlrLine{
		left: 200px;
		top: 2310px;
	}

	.mission{
		top: 195px;
		left: 0;
		width: 100%;
		height: 5%;
		padding: 5px;
		font-size: 11px;
		z-index: -1;
	}

	.wholeWrapper{
		display: block;

	}

	.imageWrapper{
		display: block;
	}

	.wholeWrapper img{
		margin-top: 20px;
		margin-left: -35px;
	}

	.wholeWrapper h2{
		left: -40px;
		width: 100%;
		font-size: 24px;
	}

	.wholeWrapper p{
		left: -45px;
		width: 100%;
	}

	.wholeWrapper span{
		left: -35px;

	}

	.carousel {
		min-height: 5vh;
	}
	.carousel img{
			top: -12px;
	}

	.carousel p{
		top: 220px;
		font-size: 16px;
	}

	.slider img{
		top: 205px;
		width: 100px;
		height: 50px;
	}

	.prev-btn{
		left: 20px;
		top: 32px;
	}

	.next-btn{
		left: 315px;
		top: 32px;
	}

	.blog p{
		margin: 20px;
		line-height: 60px;
	}

	.blog-post { 
	   display: block;


	 }

	 .imgblog img {
		margin-top: 15px;
		margin-left: -50px;
	 }

	 .cons{
	 	margin-left: -50px;
	 }

	 .cons p{
	 	padding: 5px;
	 	line-height: 30px;
	 }

	 .blog-img {
	 	margin-left: -64px;
	 }

	 .blog-img img{
	 		padding: 0;
	 }

	.service p{
		margin-top: -65px;
		line-height: 0;
		
	}

	.servic p{
		left: 2px;
	}

	.servic img{
		display: block;
		margin-top: 50px;
		margin-left: -12px;
	}

	.prevbtn, .nextbtn {
		display: none;
	}

	.testim img{
		width: 100%;
		height: 100%;
		position: relative;
	}

	.testim h2{
		top: 3260px;
		left: 70px;
	}

	.testim p{
		left: 15px;
		width: 90%;
		font-size: 14px;
	}

	.ceo img{
		width: 60px;
		height: 60px;
		left: 145px;
		top: 3430px;
		position: absolute;
	}

	.myname {
		margin-left: 5px;
		top: 3500px;
	}

	.role {
		top: 3520px;
		margin-left: 7px;
	}

	.single-dot{
		left: 0;
		top: -175px;
	}

	.HoLine {
		top: 3665px;
		left: 200px;
	}

	.HorLine, .Line1 {
		display: none;
	}

	.wholepartner{
		display: block;
	}
	.imagepartner{
		display: block;
	}

	.wholepartner img {
		left: -79px;
		top: -20px;
	}

	.wholepartner h2{
		left: -58px;
	}

	.wholepartner p{
		left: -90px;
		width: 150%;

	}

	.wholepartner span{
		left: -55px;
	}

	.pre-btn, .pos-btn, .previous-btn, .nex-btn{
		display: none;
	}

	.sponsor p {
		width: 100%;
		margin: 20px;

	}

	.Line{
		left: 220px;
		top: 5095px;
	}

	.sponsor-img{
    display: inline-block;
    width: 50%;
    height: 50%;
    padding: 5px;
    line-height: 95px;
    margin-top: -60px;
    margin-left: 70px;
	}
	
	.footer-wrapper {
		display: block;
		margin-top: s0px;
	}

	.sub-wrapper{
		padding: 0 53px;
		margin: 60px;
	}
	.sub-wrapper h3 {
		top: 30px;
		left: 20px;
		font-size: 15px;
	}
	
	.wedo {
		left: 30px;
		top: 35px;
		width: 80%;
		font-size: 11px;
	}

	.contact{
		left: 30px;
		top: 130px;
		width: 80%;
		font-size: 11px;
	}
	.proj{
		top: 75px;
		left: 10px;
		width: 150%;
		font-size: 15px;
	}

	.proj-images img{
		top: 80px;
	}

	input[type="text"]{
		left: 80px;
		top: 520px;
		padding: 3px 9px;
		
	}

	button {
		left: 120px;
		top: 570px;
		padding: 3px 8px;
	}

	.copyright {
		left: 65px;
		top: 6540px;
	}
	nav{
		background: none;
		height: 70px;
	}

	#menu {
	width: 40px;
	height: 0px;
	margin-left: auto;
	margin-right: 10px;
	position: relative;
	top: 25px;
	cursor: pointer;
}

.name{
	
	margin-left: 0;
	position: relative;
}

.nav-links {
	display: none;
	margin: 0;
	padding: 0;
	top: 30px;
	z-index: 3;
}

.nav-links li a{
	box-sizing: border-box;
	margin-top: 0px;
	position: relative;
	top: 100px;
}

.nav-links li{
	color: white;
	padding: 0px;
	top: 30px;
	padding: ;

}

.change{
	display: block;
}


.bar {

	height: 5px;
	width: 100%;
	background-color: #000;
	display: block;
	border-radius: 5px;
}
 	

#bar1 {
	
	transform: translateY(-4px);
}

#bar3 {
	transform: translateY(4px);
}

.change .bar{
	background: #123456;
}

.change #bar1 {
    transform:  translateY(4px) rotate(-45deg);
}


 .change #bar3{
    transform:  translateY(-6px) rotate(45deg);
}

.change #bar2{
	opacity: 0;
}

}